/* Estilo para el contenedor principal de la tarjeta */
.tw-followCard {
    display: flex; /* Configura el contenedor como un flexbox */
    align-items: center; /* Alinea verticalmente los elementos hijos */
    color: #fff; /* Establece el color del texto en blanco */
    font-size: .8rem; /* Define un tamaño de fuente pequeño */
    justify-content: space-between; /* Distribuye los elementos con espacio entre ellos */
}

/* Encabezado de la tarjeta, que contiene el avatar y la información del usuario */
.tw-followCard-header {
    display: flex; /* Configura el encabezado como un flexbox */
    align-items: center; /* Alinea verticalmente los elementos hijos */
    gap: 4px; /* Espacio entre los elementos hijos */
}

/* Contenedor para la información del usuario (nombre, nombre de usuario) */
.tw-followCard-info {
    display: flex; /* Configura como un flexbox */
    flex-direction: column; /* Coloca los elementos en una columna */
}

/* Estilo para el nombre de usuario */
.tw-followCard-infoUserName {
    opacity: .6; /* Reduce la opacidad al 60%, haciéndolo más tenue */
}

/* Estilo del avatar */
.tw-followCard-avatar {
    width: 48px; /* Ancho del avatar */
    height: 48px; /* Alto del avatar */
    border-radius: 1000px; /* Hace el avatar circular */
}

/* Estilo del botón de seguimiento */
.tw-followCard-button {
    cursor: pointer; /* Cambia el cursor a puntero al pasar sobre el botón */
    margin-left: 16px; /* Margen a la izquierda del botón */
    border: 0; /* Quita el borde predeterminado */
    border-radius: 999px; /* Bordes completamente redondeados */
    padding: 6px 16px; /* Espaciado interno vertical y horizontal */
    font-weight: bold; /* Texto en negrita */
    border: 1px solid #000; /* Borde negro */
    transition: .3s ease background-color; /* Suaviza los cambios en el color de fondo */
}

/* Estilo cuando el ratón pasa sobre el botón */
.tw-followCard-button:hover {
    opacity: .8; /* Reduce ligeramente la opacidad para un efecto visual */
}

/* Contenedor de texto dentro del botón */
.tw-followCard-text {
    display: block; /* Asegura que el texto sea visible por defecto */
}

/* Estilos específicos para el botón en estado "siguiendo" */
.tw-followCard-button.is-following {
    border: 1px solid #bbb; /* Cambia el borde a gris */
    background: transparent; /* Fondo transparente */
    color: #fff; /* Texto blanco */
    width: 140px; /* Ajusta el ancho del botón */
}

/* Estilos al pasar el ratón sobre el botón en estado "siguiendo" */
.tw-followCard-button.is-following:hover {
    background-color: rgba(255, 0, 0, 0.178); /* Fondo rojo transparente */
    color: red; /* Cambia el texto a rojo */
    border: 1px solid red; /* Cambia el borde a rojo */
    transition: .3s ease all; /* Suaviza todos los cambios de estilo */
    opacity: 1; /* Asegura que la opacidad sea completa */
}

/* Oculta el texto estándar del botón al pasar el ratón en estado "siguiendo" */
.tw-followCard-button.is-following:hover .tw-followCard-text {
    display: none; /* Oculta el texto */
}

/* Muestra el texto alternativo al pasar el ratón sobre el botón en estado "siguiendo" */
.tw-followCard-button.is-following:hover .tw-followCard-stopFollow {
    display: block; /* Muestra el texto alternativo */
}

/* Define el estilo del texto alternativo "Dejar de seguir" */
.tw-followCard-stopFollow {
    display: none; /* Mantiene este texto oculto por defecto */
}
